/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Typography Styles
h1, h2, h3, p {
    font-family: 'Open Sans', sans-serif;
}


// Background Gradient
.navbar, .home-callout {
   //Gradient provided by @_ighosh
   background: #42275a;  /* fallback for old browsers */
   background: -webkit-linear-gradient(left, #734b6d, #42275a);
   background: -moz-linear-gradient(left, #734b6d, #42275a);
   background: -o-linear-gradient(left, #734b6d, #42275a);
   background: linear-gradient(to right, #734b6d, #42275a);  
  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}               

// Nav Styles
.navbar {
   border: none;
   min-width: auto;
}

.navbar-brand {
   font-family: 'Open Sans', sans-serif;
   font-weight: 800;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
   color:white;
   &:hover {
      color: white;
      opacity: 0.75;
   }
}

.navbar-default .navbar-toggle .icon-bar {
   background-color: white;
}

.navbar-default .navbar-toggle {
   border: 1px solid white;
&:hover, &:focus {
   background-color: #AC4CC7;
   }

}

.btn.btn-warning.navbar-btn.nav-profile-btn {
   color: black;
}

// Home Page Styles
.home-callout {
   color: white;
   margin-top: -20px;
   padding-top: 50px;
   padding-bottom: 100px;
}

.alert-notice, .alert-alert {
   text-align: center;
   background: rgba(255, 255, 255, 0.3);
   border-color: rgba(255, 255, 255, 0.5);
   margin-top: -15px;
   color: white;
   
}

.flash-container {
   position: absolute;
   width: 100%;
}

.well.home-pro-well {
   border-radius: 5px;
   color: white;
   background: #3a6186;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.home-basic-well {
   color: white;
   background: #B993D6;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


.btn.btn-success.pro-btn, .btn.btn-primary.basic-btn {
   border: solid black 2px;
   border-radius: 5px;
   color: black;
   background: #FFF;
   &:hover {
      opacity: 0.8;
   }
}




// About Us form styles
.form-control:focus {
   border-color: purple;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(138, 43, 226, 0.6);
}

// Navbar margin adjust
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
   margin-left: 15px
}

.navbar-right {
   margin-right: 15px;
}

.home-signup-links {
   margin-top: 30px;
}

