// User Profile page Styles

.avatar-show-img {
   width: 325px;
   height: 325px;
   border: solid black 3px;
   border-radius: 10px;
   margin-top: 25px;
   margin-bottom: 25px;
   //margin-right: -150px;
   display: inline-block;
}

.well.profile-well {
   border: solid black 1px;
   //Gradient provided by @_ighosh
   background: #ECE9E6;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   color: black;
   
   h3 {
      margin-top: 0;
      margin-bottom: 100;
   }
}

.profile-container {
   margin-top: -18px;
   color: white;
   //Gradient provided by @_ighosh
   background: #42275a;  /* fallback for old browsers */
   background: -webkit-linear-gradient(left, #734b6d, #42275a);
   background: -moz-linear-gradient(left, #734b6d, #42275a);
   background: -o-linear-gradient(left, #734b6d, #42275a);
   background: linear-gradient(to right, #734b6d, #42275a); 
   border-radius: 2px;

}

.pro-profile-text {
   color: white;
   border: 3px solid yellow;
   font-size: 18px;
   text-align: center;
   font-weight: 700;
   margin-top: 20px;
   margin-right: 10px;
   display: block;
}

.job-title-icon {
   display: inline block;
}

.block-profile-col {
   display: inline-block;
   margin-left: 0px;
}

.btn.btn-warning.profile-btn {
   color: black;
   margin-top: 252px;
   margin-left: 26px;
   padding-right: 20px;
   padding-left: 20px;
}

.btn.btn-warning.basic-profile-btn {
   color: black;
   margin-top: 312px;
   margin-left: 26px;
   padding-right: 20px;
   padding-left: 20px;
}


// User Index Page Styles


.container.profile-container.index-container {
   max-width: 75%;
   border-radius: 10px;
   border-bottom: 5px solid black;
   margin-bottom:  20px;
   
   &:hover {
      opacity: 90%;
   }
   
}



.avatar-show-img.index-img {
   border-radius: 50%;
   position: static;
   width: 100px;
   height: 100px;
}

.col-sm-6.block-profile-col.index-profile-col {
   position: relative;
   margin-top: 5px;
}
